.logo {
    margin-top: 20px;
}

.title-text {
    vertical-align: middle;
}

.logo-img {
    width: 80px;
    height: 80px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    background-repeat: no-repeat;
    font-family: "Sawarabi Gothic";
}

.title-text {
    font-family: 'Fredericka the Great', cursive;
    color: #363137;
}

.container {
    max-width: 1500px;
    width: 100%;
    position: relative;
}

a {
    padding: 0;
}

.card {
    overflow: hidden;
}

.card-link {
    transition: 1s all;
    display: block;
    font-family: 'Fredericka the Great', cursive;
}

.a_hover {
    transform: scale(1.1, 1.1);
    transition: 1s all;
}


@media screen and (max-width: 1920px) {
    body {
        background-image: url("/CodeBase/images/Resized/top_background.jpg");
    }

    .logo {
        margin-left: 30px;
        margin-bottom: 40px;
    }

    .logo-img {
        width: 70px;
        height: 70px;
    }

    .page-contents {
        display: flex;
        padding-top: 60px;
    }

    .title-text {
        font-size: 60px;
    }

    .profile-info {
        margin-top: 80px;
        margin-left: 80px;
        text-align: center;
        height: 160px;
    }

    .profile-img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .card {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #ccc;
        margin-left: 30px;
    }

    .card-img {
        border-radius: 5px 5px 0 0;
        max-width: 100%;
        height: auto;
    }

    .card-content {
        padding: 10px;
        position: relative;
    }

    .card-text {
        color: #777;
        font-size: 23px;
        line-height: 1.5;
    }

    .card-link a:hover {
        color: #0090aa;
    }


    .modal-content {
        position: relative;
        height: 500px;
    }

    .modal-body {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 80%;
        height: 80%;
        transform: translate(-50%, -50%);
    }

    .modal-dialog {
        max-width: 800px;
    }

    textarea {
        height: 270px;
        vertical-align: top;
    }

    .open-contact-form {
        position: absolute;
        margin-top: 40px;
        left: 47%;
        font-family: "Sawarabi Gothic";
        height: 50px;
    }

    .modal-header,
    .modal-footer {
        margin: 5px;
    }
}

.info-top {
    font-size: 34px;
    font-family: 'Fredericka the Great', cursive;
}

@media screen and (max-width: 1366px) {

    .page-contents {
        padding-top: 0px;
    }
}

@media screen and (max-width: 1024px) {

    /* 1024px以下に適用されるCSS（タブレット用） */
    body {
        background-image: url("/CodeBase/images/Resized/tablet1024.jpg");
    }

    .logo-img {
        width: 80px;
        height: 80px;
    }

    .profile-img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .info-top {
        font-size: 50px;
    }

    .info-text {
        padding-top: 20px;
        font-size: 22px;
    }

    .title-text {
        font-size: 70px;
    }

    .profile-info {
        position: absolute;
        left: 60%;
        width: 300px;
        height: 1000px;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 300px auto;
    }

    .page-contents {
        flex-flow: column;
        max-width: 500px;
        padding-top: 15px;
        float: left;
    }

    .card-link {
        margin-top: 0px;
        padding-bottom: 20px;
        margin-left: 0px;
    }

    .open-contact-form {
        position: absolute;
        top: 60%;
        left: 10%;
    }

    .info-top {
        position: absolute;
        top: 20%;
    }

    .info-text {
        position: absolute;
        top: 30%;
    }
}


@media screen and (max-width: 768px) {

    /* 768px以下に適用されるCSS（タブレット用） */
    body {
        background-image: url("/CodeBase/images/Resized/tablet.jpg");
    }

    .logo-img {
        width: 70px;
        height: 70px;
    }

    .page-contents {

        max-width: 350px;
        padding-top: 15px;
        float: left;
    }

    .profile-img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .profile-info {
        position: absolute;
        left: 50%;
        width: 300px;
        height: 800px;
        margin-top: 0;
    }

    .info-top {
        font-size: 32px;
    }

    .info-text {
        padding-top: 15px;
        font-size: 18px;
    }

    .title-text {
        font-size: 60px;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 300px auto;
    }
}

@media screen and (max-width: 480px) {

    /* 480px以下に適用されるCSS（タブレット用） */
    body {
        background-image: url("/CodeBase/images/Resized/smartphone.jpg");
    }

    .logo-img {
        width: 50px;
        height: 50px;
    }

    .title-text {
        font-size: 35px;
    }

    .modal-dialog {
        max-width: 200px;
        margin: 150px auto;
    }

    .page-contents {
        flex-flow: column;
        max-width: 300px;
        padding-top: 0px;
        float: none;
    }

    .profile-info {
        position: absolute;
        left: 50%;
        width: 250px;
        height: 500px;
        margin-top: 0;
    }
}